* {
	margin:0;
	padding:0;
}
.button{
	width:145px;
	height:80px;
	font-size:35px;

}
#gth{
	display: block;
		height:150px;

}
#square{
	background-image: url("https://image.flaticon.com/icons/svg/36/36932.svg");
	background-repeat:no-repeat;
	display:block;
	margin-left: auto;
	margin-right: auto;
background-position: 23px 20px;
}
#backspace{
	background-image: url("https://image.flaticon.com/icons/svg/318/318218.svg");
	background-repeat:no-repeat;
	display:block;
	margin-left: auto;
	margin-right: auto;
background-position: 11px 13px;
background-size: 45px;

}
#three{
	background-image: url("photo_2019-11-07_01-40-07.jpg");
	background-repeat:no-repeat;
	display:block;
	margin-left: auto;
	margin-right: auto;
background-position: 23px 16px;
background-size: 35px;
}
#space{width:294px;}
input{
	width:750px;
	height:100px;
	border-color:blue;
}
input:hover{
	border-color: white;
}
#divide{
	font-size:70px;
}
.main{
	position:absolute;
	top: 50%;
	left:50%;
	transform:translateX(-50%)translateY(-50%);
}
